Interface/Wsdl/WSTransac.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://impl.transac.gtwin.conecta" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://impl.transac.gtwin.conecta" xmlns:intf="http://impl.transac.gtwin.conecta" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://impl.transac.gtwin.conecta" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="createAsyncCall">
    <complexType>
     <sequence>
      <element name="xmlIn" type="xsd:string"/>
      <element name="operacion" type="xsd:string"/>
      <element name="token" type="xsd:string"/>
      <element name="hash" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="createAsyncCallResponse">
    <complexType>
     <sequence>
      <element name="createAsyncCallReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="consultaExcallbyDboid">
    <complexType>
     <sequence>
      <element name="dboid" type="xsd:string"/>
      <element name="token" type="xsd:string"/>
      <element name="hash" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="consultaExcallbyDboidResponse">
    <complexType>
     <sequence>
      <element name="consultaExcallbyDboidReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="consultaExcallbyDboidResponse">

      <wsdl:part element="impl:consultaExcallbyDboidResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="consultaExcallbyDboidRequest">

      <wsdl:part element="impl:consultaExcallbyDboid" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="createAsyncCallRequest">

      <wsdl:part element="impl:createAsyncCall" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="createAsyncCallResponse">

      <wsdl:part element="impl:createAsyncCallResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:portType name="WSTransac">

      <wsdl:operation name="createAsyncCall">

         <wsdl:input message="impl:createAsyncCallRequest" name="createAsyncCallRequest"/>

         <wsdl:output message="impl:createAsyncCallResponse" name="createAsyncCallResponse"/>

      </wsdl:operation>

      <wsdl:operation name="consultaExcallbyDboid">

         <wsdl:input message="impl:consultaExcallbyDboidRequest" name="consultaExcallbyDboidRequest"/>

         <wsdl:output message="impl:consultaExcallbyDboidResponse" name="consultaExcallbyDboidResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="WSTransacSoapBinding" type="impl:WSTransac">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="createAsyncCall">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="createAsyncCallRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="createAsyncCallResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="consultaExcallbyDboid">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="consultaExcallbyDboidRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="consultaExcallbyDboidResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="WSTransacService">

      <wsdl:port binding="impl:WSTransacSoapBinding" name="WSTransac">

         <wsdlsoap:address location="http://10.49.95.109:8080/conecta10/services/WSTransac"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
